package view

import "strconv"

templ ErrorPage(code int, message string) {
	@Layout("Error") {
		<div class="flex flex-col items-center justify-center h-full gap-4">
			<h1 class="text-6xl font-bold text-gray-300 dark:text-gray-600">
				{ strconv.Itoa(code) }
			</h1>
			<p class="text-lg text-gray-500 dark:text-gray-400">
				{ message }
			</p>
			<a href="/" class="text-blue-500 hover:underline">
				Go Home
			</a>
		</div>
	}
}
