package view

templ ChatMessage(text string, self bool) {
	@appendMessage() {
		<div
			if self {
				class="ml-auto max-w-[75%] break-words rounded-lg bg-indigo-600 px-3 py-2 text-sm text-white"
			} else {
				class="mr-auto max-w-[75%] break-words rounded-lg bg-gray-200 dark:bg-gray-700 px-3 py-2 text-sm"
			}
		>
			{ text }
		</div>
	}
}
